[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
tensorflow = "*"
jupyterlab = "*"
pillow = "*"

[requires]
python_version = "3.6"
